h1 {
  color: #9ee6e0;
  font-size: 250%;
}

p {
  color: #eefcfe;
  font-size: 105%;
}

#content {
  background-color: #a7c6da;
  width: 600px;
  height: 500px;
  padding: 10px;
  margin: 10px;
  border: solid 8px #324746;
  font-size: 20px;
}
